@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serifs;
    box-sizing: border-box;
}

p {
    font-size: 1rem;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    color: #ababab;
}

h6 {
    font-size: 1rem;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

h5 {
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 1.21875rem + 0.15625vw, 1.40625rem);
}

h4 {
    font-size: 1.5625rem;
    font-size: clamp(1.5625rem, 1.52375rem + 0.1937500000000001vw, 1.75625rem);
}

h3 {
    font-size: 1.95625rem;
    font-size: clamp(1.95625rem, 1.9075rem + 0.24375000000000013vw, 2.2rem);
}

h2 {
    font-size: 2.44375rem;
    font-size: clamp(2.44375rem, 2.38375rem + 0.2999999999999998vw, 2.74375rem);
}

h1 {
    font-size: 3.05rem;
    font-size: clamp(3.05rem, 2.97375rem + 0.3812500000000001vw, 3.43125rem);
}

span {
    color: #b54769;
}

img {
    max-width: 100%;
    height: auto;
}

.text-gradient {
    background-image: linear-gradient(to right, #ff4545, #00ff99, #006aff, #ff0095);
    color: transparent;
    background-clip: text;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background: #080808;
    color: #fff;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "navbar"
        "main"
        "footer";
}

nav {
    position: sticky;
    top: 0;
    grid-area: navbar;
    padding: 0 8%;
    background-color: #080808;
    border-bottom: 1px solid #272832;
    z-index: 3;
    list-style: none;
    display: flex;
}

nav .logo {
    margin-right: auto;
    width: fit-content;
}

nav .logo img {
    max-width: auto;
    width: 140px;
    height: auto;
}

nav ul {
    display: flex;
}

nav li {
    display: flex;
}

nav a {
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    padding: 1.5em;
    color: #fff;
    font-size: 18px;
    transition: background-color 150ms ease;
}

nav a:hover {
    background-color: #272832;
}

nav .button {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 1.5em;
}

nav .open {
    margin-left: auto;
    border-left: 1px solid #272832;
}

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}

@media screen and (max-width: 768px) {
    nav .button {
        display: block;
    }

    nav {
        padding: 0 0;
    }

        nav ul.show {
            right: 0;
        }

            nav ul.show ~ #overlay {
                display: block;
            }

        nav ul {
            position: fixed;
            top: 0;
            right: -100%;
            height: 100vh;
            width: 100%;
            z-index: 10;
            background-color: #080808;
            transition: right 300ms ease-out;
            flex-direction: column;
        }


        nav a {
            width: 100%;
            padding-left: 2.5em;
            padding-top: 1em;
            padding-bottom: 1em;
        }

        nav .logo {
            margin-right: unset;
            padding-left: 5%;
        }
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.header {
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.header img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.projects {
/*    background: linear-gradient(45deg, red, blue);*/
    background: -webkit-radial-gradient(top left, ellipse, red 0%, blue);
    background: -moz-radial-gradient(top left, ellipse, red 0%, blue);
    background: radial-gradient(top left, ellipse, red 0%, blue);
    background-attachment: fixed;
    /*background: rgba(0, 0, 0, 0.75);*/
}
.vampower {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("images/vampower/Vampower_Gameplay_Day_2_Fin.png");
}
.catfished {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("images/catfished/CatFished.png");
}
.catfished-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("images/catfished/WindowFrame_Flat(2).png");
    /*background-position: top;*/
}
.catfished-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("images/catfished/Screenshot_13Feb.png");
    background-position: top;
}
.catfished-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("images/catfished/Screenshot 2024-07-09 161025.png");
    background-position: top;
}

.chat-prototype {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("images/chatprototype/ChatProt_BG.png");
    background-position: bottom;
}
.chat-prototype-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("images/chatprototype/ChatProt_BG2.png");
    background-position: bottom;
}
.fearofthelight {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("images/fearofthelight/Screenshot (506).png");
}
.fearofthelight-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("images/fearofthelight/Screenshot (498).png");
}
.fearofthelight-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("images/fearofthelight/Screenshot (509).png");
}

.divide-line {
    border-bottom: 4px solid #b54769;
    width: 100%;
}

#summary {
    padding: 1em 10% 3em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*align-items: center;*/
    text-align: left;
    gap: 1em;
}

.list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    /*border-top: 4px solid #b54769;*/
    padding: 1em 0;
}

.summary-gamelink {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.item{
    flex: 1;
    /*border: 1px solid #ff004f;*/
}

.icon {
    font-size: 68px;
    color: #b54769;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 0.5em;
}

.item-half {
    flex: 100%;
}

.summary-item {
    flex: 100%;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
    .summary-item, .item {
        flex: 1;
    }

    .item-half {
        flex: 0.25;
    }
}

.wrapper {
    padding: 80px 5%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bg1 {
    background-color: rgba(0, 0, 0, 0.5);
}

.bg2 {
    background-color: #272832;
}

.text-wrapper {
    flex: 1;
}

.btn {
    display: block;
    width: fit-content;
    padding: 1em 2em;
    border-radius: 0.5em;
    text-decoration: none;
    background: #ff004f;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    #summary {
        padding: 1em 5% 3em;
    }

    .wrapper {
        padding: 60px 5%;
    }
}

/*------------- Home page ----------*/

#header {
    width: 100%;
    height: 80vh;
    background-image: url("images/fearofthelight/Screenshot (509).png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    animation: slideshowAnimation;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    transition: all 500ms ease-in 200ms;
}

@keyframes slideshowAnimation {
    from {
        background-image: url("images/fearofthelight/Screenshot (509).png");
    }
    10% {
        background-image: url("images/vampower/Vampower_MainMenu_Fin.png");
    }
    20% {
        background-image: url("images/vampower/Vampower_ShopMenu_Fin.png");
    }
    30% {
        background-image: url("images/fearofthelight/Screenshot (498).png");
    }
    40% {
        background-image: url("images/catfished/WindowFrame_Flat(2).png");
    }
    50% {
        background-image: url("images/fearofthelight/Screenshot (491).png");
    }
    60% {
        background-image: url("images/vampower/Vampower_Gameplay_Day_2_Fin.png");
    }
    70% {
        background-image: url("images/fearofthelight/Screenshot (500).png");
    }
    80% {
        background-image: url("images/kinginspiredmockup/MobileMenuMockup.png");
    }
    90% {
        background-image: url("images/catfished/Screenshot_13Feb.png");
    }
    to {
        background-image: url("images/fearofthelight/Screenshot (509).png");
    }
}

.header-text {
    position: absolute;
    bottom: 0;
/*    top: 40%;*/
    width: 100%;
    padding: 1em 2em;
    /*border-radius: 1em;*/
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}

.header-text h1 {
    color: #080808;
        /*font-size: 5em;*/
    margin-right: 0.25em;
        /*text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);*/
}

.header-text p span {
    color: #080808;
        /*font-size: 1.5em;*/
    font-weight: bold;
/*        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
}

.row-about {
    display: flex;
    justify-content: space-between;
    gap: 4em;
    flex-wrap: wrap;
}
#about h1 {
    margin-bottom: 0.25em;
}

#about .list {
    gap: 4em;
}

#about ul {
    list-style: none;
}
#about ul li {
    font-size: 1rem;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    color: #ababab;
    text-decoration: none;
    display: block;
    padding-left: 0.5em;
}

#about h5 {
    margin-bottom: 0.5em;
}

#about ul li h6{
    color: #b54769;
}

#about img {
    border-radius: 0.5em;
}

#about span {
    color: #ff004f;
}

#about ul li p {
    font-size: 0.9rem;
    font-size: clamp(0.9rem, 0.86rem + 0.2000000000000001vw, 1.1rem);
}

/*#about .education {
    margin-top: 4em;
    margin-bottom: 4em;
}*/

#about ul li:not(:last-child) {
    margin-bottom: 1em;
}

/*@media (max-width: 767px) {
    .col-about {
        width: 100%;
        margin-bottom: 4em;
    }*/

/*    .container-footer {
        padding: 60px 2% 0;
    }*/
/*}*/

/*------------- Footer ----------*/

.container-footer {
    width: 100%;
    margin: auto;
    background-color: #272832;
    padding: 60px 10%;
}

#contact ul {
    list-style: none;
}

.row-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-footer {
    width: fit-content;
    padding: 0 1em;
}

.col-footer h4 {
    margin-bottom: 0.75em;
}

.col-footer ul li:not(:last-child) {
    margin-bottom: 1em;
}

.col-footer ul li {
    padding-left: 0.5em;
}

.col-footer ul li a {
    font-size: 1rem;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    color: #ababab;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

#contact .accent {
    color: #b54769;
    transition: all 0.3s ease;
}

#contact .accent:hover {
    color: #ff004f;
}

.col-footer ul li a:hover {
    color: #fff;
    /*padding-left: 0.4em;*/
}

.col-footer .social-links {
    padding-left: 0.5em;
}

.col-footer .social-links a {
    display: inline-block;
    font-size: 2em;
    color: #ababab;
    margin: 0 0.5em 0.5em 0;
    /*width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);*/
    /*font-size: 2em;*/
    /*margin: 0 0.5em 0.5em 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;*/
    transition: transform 0.5s;
}

.col-footer .social-links a:hover {
    color: #fff;
    transform: translateY(-2px);
        /*color: #272832;
    background-color: #ababab;*/
}

@media (max-width: 767px) {
    .col-footer {
        width: 100%;
        margin-bottom: 4em;
    }

    .container-footer {
        padding: 60px 2% 0;
    }
}

/*------------- Projects cards ----------*/

.card-container {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));*/
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-content: center;
    grid-auto-rows: 1fr;
    gap: 16px;
    flex-wrap: wrap;
}

.card {
    background-color: #272832;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0.5em 2em rgba(0,0,0,0.5);
    margin: 1em;
    text-decoration: none;
    display: flex;
    border: 0.25em solid #272832;
    transition: border 0.25s;
    max-height: 400px;
}

.card:hover {
    border: 0.25em solid;
}

.card-image {
    max-width: auto;
}

.card img {
    object-fit: cover;
}

.card-content {
    min-width: 60%;
    padding: 1em;
    padding-left: 2em;
}

.card-content h2 {
    margin-bottom: 0.25em;
    color: #fff;
}

.card-content p span {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #b54769;
}

/*------------- Video Wrapper ----------*/

.outerVideoWrapper {
    /*width: 50%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* Equals 16:9 */
    height: 0;
}

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

/*------------- Accordion ----------*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #ccc;
    }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

    .accordion:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
/*.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}*/